.footer {
  text-align: center;
  font-size: 12px;
  list-style: none;
  color: #A9A9A9;

  li {
    display: inline-block;

    &:not(:first-child):before {
      content: "|";
      padding: 0 10px;
      color: #C0C0C0;
    }

    a {
      color: #808080;
    }
  }
}